<input type="text" placeholder="admin" [formControl]="id" />
<input type="password" placeholder="1234 " [formControl]="pw" />
<button (click)="login()">Login</button>
<div>
  <span *ngIf="id.hasError('minlength')">ログイン名は５桁です。</span>
</div>
<div>
  <span *ngIf="pw.hasError('minlength')">パスワードは４桁です。</span>
</div>
<div *ngIf="getMessage" [ngClass]="styleArray">
  {{ getMessage }}
</div>
